<!DOCTYPE html>
<html ng-app="Nigho">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Nigho</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionic/css/ionicons.min.css" rel="stylesheet">

    <!-- ionic/angularjs js -->

    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript">
        $sceDelegateProvider.resourceUrlWhitelist(['http://report.nigho.com']);
    </script>
    <script src="js/ionic.bundle.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/angular-translate.min.js"></script>
    <script src="js/jquery-2.1.3.min.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/nigho.js"></script>
  </head>
  <body ng-controller="MyCtrl">
    <ion-nav-view></ion-nav-view>
    <script id="login" type="text/ng-template">
        <fichier-login>
        </fichier-login>
    </script>
    <script id="register" type="text/ng-template">
        <fichier-register>
        </fichier-register>
    </script>
    <script id="forgottenPassword" type="text/ng-template">
        <fichier-forgotten-password>
        </fichier-forgotten-password>
    </script>
    <script id="main" type="text/ng-template">
        <fichier-main>
        </fichier-main>
    </script>
    <script id="sites" type="text/ng-template">
        <fichier-sites>
        </fichier-sites>
    </script>
    <script id="contacts" type="text/ng-template">
        <fichier-contacts>
        </fichier-contacts>
    </script>
    <script id="reports" type="text/ng-template">
        <fichier-reports>
        </fichier-reports>
    </script>
    <script id="detailcontact" type="text/ng-template">
        <fichier-detail-contact>
        </fichier-detail-contact>
    </script>
    <script id="addcontact" type="text/ng-template">
        <fichier-add-contact>
        </fichier-add-contact>
    </script>
    <script id="updatecontact" type="text/ng-template">
        <fichier-update-contact>
        </fichier-update-contact>
    </script>
    <div class="tabs-striped tabs-icon-top" ng-if="isLoged()">
        <div class="tabs">
          <a class="tab-item" ng-class="{'active':numTab==0}" on-tap="goToMain()">
            <i class="icon ion-ios-grid-view"></i>
            Dashboard
          </a>
          <a class="tab-item" ng-class="{'active':numTab==1}" on-tap="goToSites()">
            <i class="icon ion-ios-people"></i>
            Visitors
          </a>
          <a class="tab-item" ng-class="{'active':numTab==2}" on-tap="goToReports()">
            <i class="icon ion-ios-paper"></i>
            Reports
          </a>
          <a class="tab-item" ng-class="{'active':numTab==3}" on-tap="goToContacts()">
            <i class="icon ion-android-contacts"></i>
            Contacts
          </a>
          <a class="tab-item" on-tap="showLogOut()">
            <i class="icon ion-gear-a"></i>
            Settings
          </a>
      </div>
    </div>
  </body>
</html>
