<ion-view>

        <ion-header-bar class="bar-calm">
          <a class="button icon-left ion-chevron-left button-clear button-light" on-tap="back()">{{'backButton' | translate}}</a>
        </ion-header-bar>

        <ion-content class="padding">
        	<h3 id="center">Ajouter un contact</h3>
        	<div class="list">
			  <label class="item item-input item-floating-label">
			    <span class="input-label">First Name *</span>
			    <input type="text" placeholder="First Name" ng-model="firstName">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">Last Name *</span>
			    <input type="text" placeholder="Last Name" ng-model="lastName">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">Title</span>
			    <input type="text" placeholder="Title" ng-model="title">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">Company</span>
			    <input type="text" placeholder="Company" ng-model="company">
			  </label>
			</div>
			<h5>* Champs obligatoires</h5>
			<button class="button button-block button-positive" on-tap="addContact(firstName, lastName, title, company)">Add contact</button>
    	</ion-content>

</ion-view>