<ion-view ng-init="retrieveContacts()">

        <ion-header-bar class="bar-calm" id="center">
          <h1 class="title" id="center">Contacts</h1>
          <button class="button button-clear ion-android-person-add ajout" on-tap="goToAddContact()"></button>
        </ion-header-bar>

        <ion-content class="padding">
          <h3 id="center">Liste des contacts</h3>
          <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefreshContacts()">
          </ion-refresher>
          <div class="bar item-input-inset" ng-hide="viewTag">
            <label class="item-input-wrapper iconFix">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="{{'searchGlobal'| translate}}" ng-model="input.search">
            </label>
            <button class="button" on-tap="clearInput()" ng-if="input.search.length > 0">
                Cancel
            </button>
          </div>
          <ion-list>
            <ion-item ng-repeat="contact in listContacts | filter : input.search">
              <span on-tap="goToDetailContact(contact)">
                <img src="img/letters/{{contact.firstName.charAt(0).toLowerCase()}}.png">
                <h2>{{contact.firstName}} {{contact.lastName}}</h2>
                <p>{{contact.company.name}}</p>
              </span>
              <ion-option-button class="button-assertive icon ion-close" on-tap="showConfirmDeleteContact(contact)"> Delete</ion-option-button>
              <ion-option-button class="button-balanced icon ion-edit" on-tap="goToUpdateContact(contact)"> Edit</ion-option-button>
            </ion-item>
          </ion-list>
        </ion-content>

</ion-view>