<ion-view>

        <ion-header-bar class="bar-calm" id="center">
          <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
          <h1 class="title">Nigho</h1>
        </ion-header-bar>

        <ion-content class="padding" ng-init="initDetailContact()">
         	<a class="button icon-left ion-chevron-left button-clear button-dark" on-tap="back()">Back</a>
          <div class="list card">
            <div class="item item-avatar">
              <img src="img/letters/{{curContact.firstName.charAt(0).toLowerCase()}}.png">
              <h2>{{curContact.firstName}} {{curContact.lastName}}</h2>
              <p>{{formatDate(curContact.createdAt)}}</p>
            </div>
            <div class="item item-body">
              <p>
                This is a description of {{curContact.firstName}} {{curContact.lastName}}. Blablabla...
              </p>
              <h2>Companies</h2>
              <div ng-show="hasCompany(curContact)">
                <p>{{curContact.company.name}}</p>
                <p>Created : {{formatDate(curContact.company.createdAt)}}</p>
                <p>Updated : {{formatDate(curContact.company.updatedAt)}}</p>
              </div> 
                <p ng-show="!hasCompany(curContact)">None company actually</p> 
              <h2>Visitors</h2>
              <div ng-repeat="visitor in curContact.visitors" ng-show="hasVisitor(curContact.visitors)">
                <p>{{visitor}}</p>
              </div>
                <p ng-show="!hasVisitor(curContact.visitors)">No visitors actually</p> 
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
              </a>
              <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
              </a>
              <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
              </a>
            </div>
          </div>
        </ion-content>

</ion-view>