<ion-view>
	<div class="bar bar-header bar-calm">
  		<h1 class="title">{{'starterTitle' | translate}}</h1>
	</div>
	<div class="bar bar-subheader">
  		<h2 class="title">{{'loginTitle' | translate}}</h2>
	</div>
	<div id="container">
		<h4 id="center" ng-show="accountCreated">Votre compte a bien été créé, connectez vous !</h4>
			<div class="list">
			  <label class="item item-input">
			    <span class="input-label">{{'loginUsername' | translate}}</span>
			    <input type="text" ng-model="identifier">
			  </label>
			  <label class="item item-input">
			    <span class="input-label">{{'loginPassword' | translate}}</span>
			    <input type="password" ng-model="password">
			  </label>
			</div>
			<h4 id="center" ng-show="authentificationError">{{'errorAuthentification' | translate}}</h4>
			<h4 id="center" ng-show="inputEmpty">{{'errorInputEmpty' | translate}}</h4>
			<h4 id="center" ng-show="inputUsernameError">{{'errorInputUsername' | translate}}</h4>
			<h4 id="center" ng-show="inputPasswordError">{{'errorInputPassword' | translate}}</h4>
			<button class="button button-block button-light" on-tap="login(identifier, password)">{{'login' | translate}}</button>
		<button class="button button-block button-positive" on-tap="goToRegister()">{{'loginCreateAccount' | translate}}</button>
		<button class="button button-block button-light" on-tap="goToForgottenPassword()">{{'loginForgotPassword' | translate}}</button>
	</div>
</ion-view>