<ion-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title" id="center">Dashboard</h1>
  </ion-header-bar>

  <ion-content class="padding">
    <p>Bienvenue {{userKey.username}} !</p>
  </ion-content>
</ion-view>		