<ion-view>
		<ion-side-menus>
    
      <ion-side-menu-content>

        <ion-header-bar class="bar-calm" id="center">
          <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
          <h1 class="title">{{'starterTitle' | translate}}</h1>
        </ion-header-bar>

        <ion-content class="padding">
         	<h1>Profil</h1>
        </ion-content>

        <ion-footer-bar align-title="left" class="bar-calm">
          <div class="buttons">
            <button class="button ion-ios-home" on-tap="goToMain()">{{'footerHome' | translate}}</button>
          </div>
          <h1 class="title"></h1>
          <div class="buttons" on-tap="showLogOut()">
            <button class="button ion-ios-gear">{{'footerOptions' | translate}}</button>
          </div>
        </ion-footer-bar>

      </ion-side-menu-content>
  
      <ion-side-menu expose-aside-when="large">
        <ion-header-bar class="bar-royal">
          <h1 class="title">{{'menuTitle' | translate}}</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list">
            <div class="item" on-tap="goToProfil()">
              {{'menuProfil' | translate}}
            </div>
            <div class="item" on-tap="goToContacts()">
              {{'menuContact' | translate}}
            </div>
            <div class="item" on-tap="goToSites()">
              {{'menuSite' | translate}}
            </div>
            <div class="item" on-tap="goToReports()">
              {{'menuReport' | translate}}
            </div>
          </div>
        </ion-content>
      </ion-side-menu>
      
    </ion-side-menus>
</ion-view>