<ion-view>

        <ion-header-bar class="bar-calm">
          <a class="button icon-left ion-chevron-left button-clear button-light" on-tap="back()">{{'backButton' | translate}}</a>
        </ion-header-bar>

        <ion-content class="padding">
        	<h3 id="center">Modifier un contact</h3>
        	<div class="list">
			  <label class="item item-input item-floating-label">
			    <span class="input-label">First Name</span>
			    <input type="text" ng-model="firstName">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">Last Name</span>
			    <input type="text" ng-model="lastName">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">Title</span>
			    <input type="text" ng-model="title">
			  </label>
			  <label class="item item-input item-floating-label">
			    <span class="input-label">Company</span>
			    <input type="text" ng-model="company">
			  </label>
			</div>
			<button class="button button-block button-positive" on-tap="updateContact(firstName, lastName, title, company)">Save contact</button>
    	</ion-content>

</ion-view>