<ion-view>
	<div class="bar bar-header bar-calm">
  		<h1 class="title">{{'starterTitle' | translate}}</h1>
	</div>
	<div class="bar bar-subheader">
		<a class="button icon-left ion-chevron-left button-clear button-dark" on-tap="back()">{{'backButton' | translate}}</a>
  		<h2 class="title">{{'forgotTitle' | translate}}</h2>
	</div>
	<div id="container">
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">{{'forgotMail' | translate}}</span>
		    <input type="email">
		  </label>
		</div>
		<button class="button button-block button-light">{{'forgotSend' | translate}}</button>
		<div id="center">
			<button class="button button-clear button-positive" on-tap="goToRegister()">{{'forgotRegister' | translate}}</button>
		</div>
	</div>
</ion-view>