<ion-view>
	<div class="bar bar-header bar-calm">
  		<h1 class="title">{{'starterTitle' | translate}}</h1>
	</div>
	<div class="bar bar-subheader">
		<a class="button icon-left ion-chevron-left button-clear button-dark" on-tap="back()">{{'backButton' | translate}}</a>
  		<h2 class="title">{{'registerTitle' | translate}}</h2>
	</div>
	<div id="container">
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">{{'registerUsername' | translate}}</span>
		    <input type="text" ng-model="username">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">{{'registerMail' | translate}}</span>
		    <input type="email" ng-model="email">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">{{'registerPassword' | translate}}</span>
		    <input type="password" ng-model="password">
		  </label>
		</div>
		<h4 id="center" ng-show="registerError">{{'errorRegister' | translate}}</h4>
		<h4 id="center" ng-show="inputEmpty">{{'errorInputEmpty' | translate}}</h4>
		<h4 id="center" ng-show="inputUsernameError">{{'errorInputUsername' | translate}}</h4>
		<h4 id="center" ng-show="inputPasswordError">{{'errorInputPassword' | translate}}</h4>
		<h4 id="center" ng-show="authFailedError">{{'errorAuthFailed' | translate}}</h4>
		<h4 id="center" ng-show="serverError">{{'errorServer' | translate}}</h4>
		<h4 id="center" ng-show="inputMailError">{{'errorInputMail' | translate}}</h4>
		<button class="button button-block button-light" on-tap="register(username, email, password)">{{'registerSignUp' | translate}}</button>
		<button class="button button-block button-light ion-social-facebook">  {{'registerSignUpFacebook' | translate}}</button>
		<button class="button button-block button-light ion-social-linkedin">  {{'registerSignUpLinkedin' | translate}}</button>
		<a class="button button-block button-light ion-social-google" href="http://report.nigho.com/auth/google">  {{'registerSignUpGoogle' | translate}}</a>
	</div>
		
</ion-view>