<ion-view>
    <ion-side-menus>
    
      <ion-side-menu-content ng-init="retrieveSites()">

        <ion-header-bar class="bar-calm" id="center">
          <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
          <h1 class="title">{{curReport.url}}</h1>
        </ion-header-bar>

        <ion-content>
          <h4 id="center" ng-show="connectionSitesError">{{'errorConnectionSites' | translate}}</h4>
          <iframe ng-src="{{'http://report.nigho.com/report:'+curReport.id+'?access_token='+userKey.key}}" ng-show="hasSelectedReport()"></iframe>
        </ion-content>

      </ion-side-menu-content>
  
      <ion-side-menu expose-aside-when="large">
        <ion-header-bar class="bar-royal">
          <h1 class="title">Sites</h1>
        </ion-header-bar>
        <ion-content id="list">
          <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefreshSites()">
          </ion-refresher>
          <ion-list>
            <ion-item ng-repeat="site in listSites" on-tap="selectReportSite(site)">{{site.url}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
      
    </ion-side-menus>
</ion-view>