/* Empty. Add your own CSS if you like */
#container {
	margin-top: 100px;
	margin-right: 5%;
	margin-left: 5%;
}

.padding{
	margin-bottom: 15%;
}

#up{
	margin-top: 5px;
}


#center{
	text-align: center;
}

.ajout{
	margin-left: 90%;
}

#list{
	margin-bottom: 15%;
}

iframe{
	width: 100%;
	height: 100vh;
	margin-bottom: 15%;
}

